@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter:wght@400;700;900&family=Saira&display=swap');

:root {
    font-size: 16px;
}

/* 1rem(16px) @ 48em(768px) increasing to 2rem(32px) @ 120em(1920px) */
@media (min-width: 48em) {
    :root {
        font-size: calc(1rem + ((1vw - 0.48rem) * 1.3889));
    }
}

/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120em) {
    :root {
        font-size: 2em;
    }
}

body {
    background: #0E0A10;
    font-size: 1rem;
    line-height: 1.5;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.content {
    align-self: stretch;
    flex: 1 1 0;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: inline-flex;
}

.header {
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
}

.headerText {
    color: white;
    font-size: 1.5rem;
    font-family: Saira;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

.section {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    display: flex;
}

.sectionTitle {
    align-self: stretch;
    color: #8B8BAE;
    font-size: 1rem;
    font-family: Saira;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
}

.sectionSeparator {
    align-self: stretch;
    border: 0.0625rem #8B8BAE solid;
}

.sectionContent {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: inline-flex;
}

.summary {
    flex: 1 1 0;
    color: white;
    font-size: 1rem;
    font-family: Archivo;
    font-weight: 400;
    word-wrap: break-word;
}

.sectionHighlight {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
    display: inline-flex;
}

.sectionHighlightTitle {
    align-self: stretch;
    color: white;
    font-size: 1.2rem;
    font-family: Archivo;
    font-weight: 400;
    word-wrap: break-word;
}

.sectionHighlightSubtitle {
    align-self: stretch;
    color: white;
    font-size: 1rem;
    font-family: Archivo;
    font-weight: 400;
    word-wrap: break-word;
}

.sectionContentText {
    flex: 1 1 0;
    color: white;
    font-size: 1rem;
    font-family: Archivo;
    font-weight: 400;
    word-wrap: break-word;
}

.stackContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: stretch;
    gap: 0.0625rem;
}

@media screen and (min-width: 960px) {
    .stackContainer {
        flex-direction: row;
    }
}

.stackGroup {    
    flex: 1;
    padding-left: 0.0625rem;
    padding-right: 0.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.stackGroupTitle {
    color: white;
    font-size: 1rem;
    font-family: Saira;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
}

.stackGroupContainer {
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    display: inline-flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}

.pill {
    padding: .25rem .5rem;
    border-radius: 1rem;
    border: 0.0625rem white solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pillText {
    color: white;
    font-size: .5rem;
    font-family: Archivo;
    font-weight: 400;
    word-wrap: break-word;
}

.footer {
    align-self: stretch;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    display: flex
}

.footerContent {
    align-self: stretch;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: Saira;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word
}